#control-panel {
  --light-color: #dce1ff;
  --border-color: #ffeeee;
  --dark-color: #0c24bd;
  --button-background-color: #5565c5;
  --icon-color: #e2e1f1;
  --button-hover-background-color: #0c27bd;
  --button-hover-border-color: #ffeeee;
  --icon-hover-color: #ffeeee;
  --disabled-border-color: #0c24bd;
  --disabled-background-color: #b0b0ee;
  --icon-disable-color: #6060ff;

  border: solid var(--border-color) 1px;
  border-radius: 5px;
  color: var(--light-color);
  background-color: var(--dark-color);
  padding: 0.5em;
  margin: auto 0.5em;

  & div.control-container {
    align-items: center;
    text-align: center;
  }

  & button {
    border-color: var(--border-color);
    background-color: var(--button-background-color);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    width: 3em;
    height: 3em;

    &:hover {
      background-color: var(--button-hover-background-color);
      border-color: var(--button-hover-border-color);

      & svg {
        stroke: var(--icon-hover-color);
      }

    }

    &[disabled] {
      border-color: var(--disabled-border-color);
      background-color: var(--disabled-background-color);
      cursor: not-allowed;

      & svg {
        stroke: var(--icon-disable-color);
        fill: var(--icon-disable-color);
      }
    }

    & svg {
      stroke: var(--icon-color);
      fill-opacity: 1;
      fill: var(--icon-color);
      stroke-opacity: 1;
      width: 16px;
      height: 16px;

      &.left {
        transform: translate(-0.125em) scale(1.5) rotate(-90deg);
      }

      &.right {
        transform: translate(0.125em) scale(1.5) rotate(90deg);
      }

      &.up {
        transform: scale(1.5);
      }

      &.down {
        transform: scale(1.5) rotate(180deg);
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  #control-panel {
    border-color: var(--dark-color);
    background-color: var(--light-color);
    color: var(--dark-color);
  }
}
